{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/css/invitation.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
    .create-post  input[type="text"]{
    width:95%;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 2px var(--pink);
}
    </style>
    <title>Connectify</title>
</head>
<body>
    <nav>
        <div class="logo">
            <h1>Connectify</h1>
        </div>
        <div>
            <ul class="navigation-one">
                    <li>
                        <a href="{%url 'home'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="white" >
                        <path  d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="{%url 'notification'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-bell-fill" >
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="{%url 'messages'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chat-fill" viewBox="0 0 16 16">
                        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="{%url 'invitation'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="{%url 'search'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        </a>
                    </li>
                    <li class="profile-img">
                        <img src="{{profile.profileImg.url}}" alt="" srcset="">
                    </li>
            </ul>
        </div>
    </nav>
    <div class="sub-nav">
        <ul class="navigation-two">
                    <li>
                        <a href="{%url 'home'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="white" >
                        <path  d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="{%url 'notification'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-bell-fill" >
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="{%url 'messages'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chat-fill" viewBox="0 0 16 16">
                        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="{%url 'invitation'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                        </svg>
                        </a>
                    </li>
                    <li>
                        <a href="{%url 'search'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        </a>
                    </li>
            </ul>
    </div>
    <div class="profile-cart">
        <ul>
            <li><a href="{%url 'profile'%}">Profile</a></li>
            <li class="click-to-create-post">Posting</li>
            <li><a href="{%url 'saves'%}">Saves</a></li>
            <li><a href="{%url 'logout'%}">Log out</a></li>
        </ul>
    </div>
    <div class="container">
           <div class="suggestions">
            {%for inv in invitations%}
            <div class="suggestions-friends">
                <div class="suggestions-friends-img">
                    <img src="{{inv.sent_by.profile.profileImg.url}}" alt="" srcset="">
                    <h3>{{inv.sent_by}}</h3>
                </div>
                <div class="suggestions-friends-btn"> 
                    <button id="{{inv.id}}">Confirm</button>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
         <div class="create-post" >
        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="postContent" id="" placeholder="write something...">
        <input type="file" name="postImage" id="select-image-input" accept="image/*">
        <div class="select-image">
            <img src="{% static 'assets/image.svg'%}" alt="" class="img">
            <img src="#" alt="" srcset="" class="selected-image">
        </div>
        <input type="submit" value="Post" id="create-post-submet">
        </form>

    </div>
    <div class="create-post-click-outside"></div>
    <script src="{%static 'js/invitation.js'%}"></script>
    <script>
        let suggestionsFriendsBtn =document.querySelectorAll(".suggestions-friends-btn button");

        suggestionsFriendsBtn.forEach(function(e){
            e.addEventListener("click",function(){
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'createFriends' %}", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            let parantElement_ = e.parentNode.parentNode;
            parantElement_.parentNode.removeChild(parantElement_);
          }}
          let invId=e.id
          console.log(invId)
          const data = JSON.stringify({ invId: invId});
          xhr.send(data)
            })
        })
    </script>
</body>
</html>