:root{
    --h1:42px;
    --h2:36px;
    --h3:30px;
    --h4:24px;
    --h5:20px;
    --h6:14px;  /*#FF7C6D*/
    --pink:#FF7C6D;
    --black:#04010E;
}
*{
    font-family: 'Roboto', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: var(--pink);
}
body::-webkit-scrollbar-track{
    background-color: transparent;
}
nav{
    width: 100%;
    height: 50px;
    background-color: var(--pink);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav .logo{
    width: auto;
    height: 50px;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo h1{
    color: white;
    font-size: var(--h3);
    margin: 10px;
}
.navigation-one{
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.navigation-one li{
    text-decoration: none;
    list-style: none;
    margin: 10px;
    padding: 0%;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-one li svg{
    transform: scale(1.7)
}
.profile-img img{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
}
.profile-cart{
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(13, 13, 13, 0.37);
    backdrop-filter: blur(12px);
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    right: 20px;
    top: 55px;
    border-radius: 10px;
    z-index: 10;
    transform-origin: right top;
    transform: scale(0);
}
.profile-cart ul{
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
.profile-cart ul li{
    width: 140px;
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: var(--h5);
    color: white;
}
.profile-cart ul li:hover{
    background-color: #ff7b6d9c;
    backdrop-filter: blur(12px);
}
.profile-cart ul li a{
    text-decoration: none;
    font-size: var(--h5);
    color: white;
}
.profile-cart ul li:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.profile-cart ul li:last-child {
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
.sub-nav{
    display: none;
   
}
.container{
    width: 80VW;
    height: fit-content;
    margin: 0px;
    margin-top: 40px;
    box-sizing: border-box;
    margin-bottom: 60px;
}
.suggestions{
    width: 100%;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    
}

.suggestions-friends{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 1px rgba(150, 150, 150, 0.418);
   
}
.suggestions-friends-btn button{
    width: 120px;
    height: 35px;
    color: white;
    background-color: var(--pink);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 7px;
}
.suggestions-friends-img h3{
    font-size: var(--h5);
    cursor: pointer;
    color: var(--black);
    margin-left: 15px;
}
.suggestions-friends .suggestions-friends-img{
    width: fit-content;
    height: 80px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 20px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 7px;
}
.suggestions-friends .suggestions-friends-img img{
    width: 80px;
    height: 80px;
    border-radius: 45px;
}

.create-post{
    width: 500px;
    height: 85vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 999;
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 20px;
}
.create-post  input:first-child{
    width:95%;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 2px var(--pink);
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.create-post input[type=file]{
    display: none;
}
.create-post input[type=submit]{
    width: 130px;
    height: 35px;
    color: white;
    background-color: var(--pink);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.select-image{
     width: 250px;
    height: 200px;
    border: dashed 2px var(--black);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(146, 146, 146, 0.664);
}
.create-post-click-outside{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.575);
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    backdrop-filter: blur(5px);
    cursor: pointer;
}
.selected-image{
    display: none;
     width: 250px;
     height: 200px;
     border-radius: 8px;
}
@media screen and (max-width:600px){
    .navigation-one li{
        display: none;
    }
    .navigation-one li:last-child{
        display: flex;
    }
    .sub-nav{
    display: block;
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 900;
    bottom: 0;
    background-color: var(--pink);

}
.sub-nav ul {
    display: flex;
     width: 100vw;
     margin: 0;
     padding: 0;
     align-items: center;
     justify-content: space-around;
}
.navigation-two li{
    text-decoration: none;
    list-style: none;
    margin: 5px;
    padding: 0%;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navigation-two li svg{
    transform: scale(1.7)
}
.profile-cart{
    width: 130px;
    height: auto;
    display: FLEX;
    flex-direction: column;
    align-items: center;
    background: rgba(13, 13, 13, 0.37);
    backdrop-filter: blur(12px);
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    right: 25px;
    top: 55px;
    border-radius: 10px;
    z-index: 10;
    transform-origin: right top;
    transform: scale(0);
}
.profile-cart ul{
    width: 130px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
.profile-cart ul li{
    width: 120px;
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.container{
    width: 100vw
   
}
.suggestions-friends-img h3{
    font-size: 16px;
    cursor: pointer;
    color: var(--black);
    margin-left: 10px;
}
.suggestions-friends-btn button{
    width: 100px;
    height: 35px;
}
.suggestions-friends .suggestions-friends-img{
    width: fit-content;
    height: 60px;
  
}
.suggestions-friends .suggestions-friends-img img{
    width: 60px;
    height: 60px;
 
}
.create-post{
    width: 300px;
    height: 85vh;
    border-radius: 20px;
}
.create-post  input:first-child{
    width:90%;
    height: 150px;
    
}
}
